@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

.HomepageBody {
    background-color: white;
    color: #02217d;
}

.HomepageBody2 {
    background-color: white;
    color: #02217d;
}


