<<<<<<< HEAD



    #widget3 iframe {
        width: 100%;
        height: 300px;
        
    }  
=======
#widget3 iframe {
    width: 100%;
    height: 300px;

>>>>>>> 9c7fc416f0c8bcacb2ec37b878915ab82f398c93
    

.MuiButton-outlined {
    color: white;
};

