.MuiTimelineOppositeContent-root {
    color: red;
    transform-origin:bottom right;
  right:0;
  bottom:0;
  transform: rotate(-90deg) translateX(53%);
  text-align: center;
  
}

.MuiTimelineContent-root {
    color: green;
    transform-origin:bottom right;
  right:0;
  bottom:0;
  transform: rotate(-90deg) translateY(100%);
  text-align: center;
  
}