
.App {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

@media (min-width: 768px ) {
    .App {
        background-position: top center;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    }

  
}
